@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto Medium";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Light";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: "Roboto Thin";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/Roboto-Thin.ttf");
}

* {
  outline: none;
}

body {
  margin: 0;
  overflow-y: overlay;
  font-family: "Roboto Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

body ::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.16);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, 0.1);
}
